.page {
    background-color: #1e1e2f;
}

.label {
    font-size: 20;
    color: white;
    font-weight: bold;
}

#ResultLabel {
    color: #00ffcc;
    font-size: 28;
    font-weight: bold;
}

.button {
    background-color: #ff4c4c;
    color: white;
    font-size: 18;
    font-weight: bold;
    border-radius: 15;
    padding: 15;
}

Picker {
    background-color: white;
    color: black;
    border-radius: 10;
}

Entry {
    background-color: white;
    color: black;
    border-radius: 10;
    padding: 10;
}

CheckBox {
    color: #00ffcc;
}

navigationpage {
    -maui-bar-background-color: #1e3a8a;
    -maui-bar-text-color: white;
}

.titleLabel {
    font-size: 22;
    font-weight: bold;
    color: white;
}
